html {
    height: 100%;
}
body {
    @include outer-container();
    height: 100%;
    
    a {
        cursor: pointer;
    }
    
    header {
        @include span-columns(2);
        border-right: 1px solid $base-border-color;
        height: 100%;
        h1 {
            text-align: center;
        }
        h2 {
            font-size: 20px;
            line-height: 16px;
            margin: auto 10px;
        }
        ul {
            margin: 20px;
        }
    }
    
    main {
        @include span-columns(10);
        @include omega();
        height: 100%;
        overflow: auto;
    }
}