.expenditures {
    padding-right: 20px;

    .row {
        @include span-columns(10 of 10);
    }
    .date {
        @include span-columns(2 of 10);
    }
    .description {
        @include span-columns(4 of 10);
    }
    .amount {
        @include span-columns(2 of 10);
    }
    .tags {
        @include span-columns(2 of 10);
        @include omega();
    }
    .files {
        .add {
            @include span-columns(2 of 10);
            text-align: right;
            p {
                margin-top: 50px;
                a {
                    margin: 0 10px;
                }
            }
        }
        ul {
            display: inline-block;
            border: 1px solid $base-border-color;
            height: 100px;
            @include span-columns(3 of 10);
            @include pad(10px);
            overflow-y: auto;
        }
        input {
            display: none;
        }
    }
    .actions {
        @include span-columns(5 of 10);
        @include omega();
        text-align: right;
        a {
            display: inline-block;
        }
        p:nth-child(1) {
            margin-bottom: 50px;
        }
    }
    .submit {
        position: absolute;
        top: -300px;
    }
    h3 {
        margin-top: 8px;
        margin-bottom: 40px;
    }
    .new {
        margin-top: 10px;
        margin-bottom: 10px;
        border-top: 1px solid $base-border-color;
        border-bottom: 1px solid $base-border-color;
        padding-top: 10px;
    }
    .items {
        .date a, .description span, .amount span, .tags a,
        .date input, .description input, .amount input, .tags input {
            display: inline-block;
            padding: 0.5em;
            margin: 0.365em 0;
            line-height:normal;
        }
        .row {
            border-bottom: 1px solid $base-border-color;
        }
    }
    .filters {
        ul {
            display: inline-block;
            li {
                display: inline-block;
            }
        }
    }
}
