.expenditures {
    height: 100%;
    padding-right: 20px;
    
    .row {
        @include span-columns(10 of 10);
    }
    .date {
        @include span-columns(2 of 10);
    }
    .description {
        @include span-columns(4 of 10);
        cursor: pointer;
    }
    .amount {
        @include span-columns(2 of 10);
    }
    .tags {
        @include span-columns(2 of 10);
        @include omega();
    }
    .submit {
        position: absolute;
        top: -300px;
    }
    h3 {
        margin-top: 8px;
        margin-bottom: 40px;
    }
    .new {
        margin-top: 10px;
        margin-bottom: 10px;
        border-top: 1px solid $base-border-color;
        border-bottom: 1px solid $base-border-color;
        padding-top: 10px;
    }
    .items {
        .date a, .description span, .amount span, .tags a,
        .date input, .description input, .amount input, .tags input {
            display: inline-block;
            padding: 0.5em;
            margin: 0.365em 0;
            line-height:normal;
        }
        .row:nth-child(2n) {
            background-color: $base-border-color;
        }
        .row:hover {
            background-color: $light-yellow;
        }
    }
    .filters {
        ul {
            display: inline-block;
            li {
                display: inline-block;
            }
        }
    }
}