.expenditures {
	.row {
        @include span-columns(12);
        
        &.head {
            border-bottom: 1px solid $border;
            padding-bottom: 5px;
            margin-bottom: 5px;
        }
        
        .cell {
            min-height: 1em;
            &.date, &.amount {
                @include span-columns(2);
                input {
                    @include span-columns(2 of 2);
                }
            }
            &.tags {
                @include span-columns(3);
                @include omega();
                input {
                    @include span-columns(2.5 of 2.5);
                }
            }
            &.description {
                @include span-columns(5);
                input {
                    @include span-columns(5 of 5);
                }
            }
        }
        .submit {
            position: absolute;
            top: -9999px;
        }
    }
    .new {
        .row {
            border-bottom: 1px solid $border;
            padding-bottom: 5px;
            margin-bottom: 5px;
        }
    }
    .items {
        span, a {
            display: inline-block;
            padding: 6px;
            margin: 2px 0;
        }
    }
	.filters {
		margin: 20px 0;
		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
			display: inline;

			li {
				display: inline;
			}
		}
	}
}