* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  background-color: white;
  color: black;
  height: 100%; }
  body header {
    position: absolute;
    top: 20px;
    bottom: 20px;
    left: 0px;
    width: 200px;
    padding: 20px;
    border-right: 1px solid gray; }
    body header h1 {
      margin: 0; }
    body header ul {
      list-style-type: none;
      margin: 20px 0;
      padding: 0; }
      body header ul li {
        margin: 5px 0; }
        body header ul li a {
          text-decoration: none;
          color: black; }
          body header ul li a:hover {
            text-decoration: underline; }
      body header ul.global {
        position: absolute;
        bottom: 0px;
        border-top: 1px solid gray;
        text-align: center;
        padding-top: 20px;
        width: 150px;
        margin: auto; }
        body header ul.global li {
          display: inline;
          margin: 0 10px; }
  body main {
    position: absolute;
    left: 200px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    padding: 20px;
    overflow-y: auto; }
    body main input {
      font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
      font-weight: 300;
      padding: 5px;
      font-size: 16px;
      border: 1px solid gray; }
      body main input:focus {
        outline: none;
        border-color: red; }
    body main a {
      text-decoration: underline;
      cursor: pointer; }

.expenditures .row {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  .expenditures .row:last-child {
    margin-right: 0; }
  .expenditures .row.head {
    border-bottom: 1px solid gray;
    padding-bottom: 5px;
    margin-bottom: 5px; }
  .expenditures .row .cell {
    min-height: 1em; }
    .expenditures .row .cell.date, .expenditures .row .cell.amount {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 14.70196%; }
      .expenditures .row .cell.date:last-child, .expenditures .row .cell.amount:last-child {
        margin-right: 0; }
      .expenditures .row .cell.date input, .expenditures .row .cell.amount input {
        float: left;
        display: block;
        margin-right: 16.03631%;
        width: 100%; }
        .expenditures .row .cell.date input:last-child, .expenditures .row .cell.amount input:last-child {
          margin-right: 0; }
    .expenditures .row .cell.tags {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 23.23176%;
      margin-right: 0; }
      .expenditures .row .cell.tags:last-child {
        margin-right: 0; }
      .expenditures .row .cell.tags input {
        float: left;
        display: block;
        margin-right: 12.43037%;
        width: 100%; }
        .expenditures .row .cell.tags input:last-child {
          margin-right: 0; }
    .expenditures .row .cell.description {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 40.29137%; }
      .expenditures .row .cell.description:last-child {
        margin-right: 0; }
      .expenditures .row .cell.description input {
        float: left;
        display: block;
        margin-right: 5.85151%;
        width: 100%; }
        .expenditures .row .cell.description input:last-child {
          margin-right: 0; }
  .expenditures .row .submit {
    position: absolute;
    top: -9999px; }
.expenditures .new .row {
  border-bottom: 1px solid gray;
  padding-bottom: 5px;
  margin-bottom: 5px; }
.expenditures .items span, .expenditures .items a {
  display: inline-block;
  padding: 6px;
  margin: 2px 0; }
.expenditures .filters {
  margin: 20px 0; }
  .expenditures .filters ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline; }
    .expenditures .filters ul li {
      display: inline; }
